/*----------- Reset css start --------------*/
*{box-sizing: border-box;}
body, html{position:relative;}
body{position:relative;margin:0; padding:0; height:100%;font-size: 14px;color: #555;}
html{height:100%;}
ol, ul {list-style-type: none;}
ul{list-style:none;margin:0;padding:0;}
a:hover, a:focus, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, 
.btn:active:focus, .btn:focus{outline:none;text-decoration:none;}
a{text-decoration:none;}
/*----------- Reset css end --------------*/

/*------------Fonts css start--------------*/
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.eot');
    src: url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype'),
        url('../fonts/Gilroy-Medium.svg#Gilroy-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype'),
        url('../fonts/Gilroy-Bold.svg#Gilroy-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'black_ops_oneregular';
    src: url('../fonts/blackopsone-regular-webfont.eot');
    src: url('../fonts/blackopsone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/blackopsone-regular-webfont.woff2') format('woff2'),
         url('../fonts/blackopsone-regular-webfont.woff') format('woff'),
         url('../fonts/blackopsone-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
/*------------Fonts css end--------------*/
body{
	overflow-x:hidden;
	font-family: Gilroy;
}
/*navbar*/
.site-header{
	border-bottom:2px solid #ccc;
	background: #fff;
	padding:10px;
	transition: 1s;	
	-moz-transition: 1s;	
	-webkit-transition: 1s;	
	-ms-transition: 1s;	
	-o-transition: 1s;	
}
.site-logo, .footer-heading{
	font-size:40px;
	text-transform:uppercase;
	color:#4776e6;
	font-family:black_ops_oneregular;
	text-shadow: 1px 1px 2px rgba(142,84,233, 0.8);
	-moz-text-shadow: 1px 1px 2px rgba(142,84,233, 0.8);
	-webkit-text-shadow: 1px 1px 2px rgba(142,84,233, 0.8);
	-ms-text-shadow: 1px 1px 2px rgba(142,84,233, 0.8);
	-o-text-shadow: 1px 1px 2px rgba(142,84,233, 0.8);
}
.site-logo:hover, .site-logo:focus{
	color:#4776e6;
}
.navlink{
	margin-right:0px;
}
.site-header .navlink>li>a{
	color:black;
	padding:0px;
	font-size:16px;
	transition:0.6s;
	display:block;
}
.site-header .navlink>li>a:hover,
.site-header .navlink>li>a:active{
	font-weight:500;
	text-shadow: 1px 1px 2px rgba(0,0,0, 0.4);
}
.site-header .navlink>li{
	padding:15px 25px;
}
.site-header .navbar-toggle .icon-bar{
	background-color:#fff;
}
.site-header .navbar-toggle{
	border:1px solid #ddd;
}
.register-link, .shrink-link{
	color:#fff !important;
}
.register-btn{
	background: linear-gradient(to right, #4776e6, #8e54e9);
	border: transparent;
	padding: 12px 20px !important;
    margin:3px;
    cursor:pointer;
    border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
}
/*after shrink*/
.shrink{
	padding:5px 10px;
}
/*heading-section*/
.page-content{
	padding:100px 0px 60px;
}
.site-heading{
	text-align:center;
}
.site-heading h1{
	font-weight:bold;
	font-size:34px;
}
.site-heading p{
	font-size:15px;
}
/*contact-form*/
.form-section{
	position:relative;
	max-width:990px;
	width:100%;
	margin:30px auto;
	padding:0px 20px;
}
.form-heading{
    position: absolute;
    background: #fff;
    top: -32px;
    left: 60px;
    font-size: 25px;
    padding: 0 8px;
    z-index: 1;
}
.contact-form{
    border: 1px solid #2c3e50;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 40px 20px 20px;
    z-index: 0;
    box-shadow: 20px 20px 0px #4776e6,20px 20px 2px #8e54e9;
    -webkit-box-shadow: 20px 20px 0px #4776e6,20px 20px 2px #8e54e9;
    -moz-box-shadow: 20px 20px 0px #4776e6,20px 20px 2px #8e54e9;
    -o-box-shadow: 20px 20px 0px #4776e6,20px 20px 2px #8e54e9;
    -ms-box-shadow: 20px 20px 0px #4776e6,20px 20px 2px #8e54e9;
}
/*column left*/
.col-left{
	padding:10px 20px;
}
.input-box{
	position: relative;
    margin-bottom: 25px;
}
.inp-field{
	display:inline-block;
	width:100%;
	border: none;
    border-bottom: 1px solid #999;
    padding: 6px 35px;
    outline:none;
}
.inp-field:focus{
	border-bottom: 1px solid #222;
}
.text label{
	top:27%;
}
.text textarea{
	resize:vertical;
}
.inp-label{
	position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.icon{
	color:#4776e6;
	font-size:25px;
	display:inline-block;
}
.form-btn{
	text-align:center;
}
.send-btn{
	border:2px solid #4776e6;
	color:#4776e6;
	background:transparent;
	padding:10px 20px;
	font-weight:bold;
	margin:10px;
	font-size:16px;
}
.btn-icon{
	margin:2px;
}
.send-btn:hover,.send-btn:focus{
	background: #4776e6;
	color:#fff;
	border:2px solid transparent;
}
/*column left*/
.col-right{
	background: url(../img/contact-1.png);
    background-position: 68px 94px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 302px;
}
.col-heading{
	font-size:20px;
	font-weight:bold;
}
.contact-info{
	padding:14px 2px;
}
.heading-logo{
	float: right;
    width: 50px;
    margin: -10px 25px;
}
.contact-info li{
	padding:2px;
}
.info-text, .info-text:hover, .info-text:focus{
	color:#222;
}
.info-icon{
	color:#4776e6;
	font-size:20px;
	padding:6px 10px 6px 6px;
}
/*footer section*/
.site-footer{
	background: linear-gradient(to bottom, #8e54e9, #4776e6);
	color:#fff;
	border-top:2px solid #ccc;
	padding:25px 0px 10px;
}
.footer-container{
	padding:20px 0px;
}
.footer-heading{
	color:#fff;
	font-size:28px;
	margin:-6px 0px;
}
.footer-content{
	text-align:justify;
	padding:10px 0px;
}
.f-heading{
	font-size:20px;
	font-weight:bold;
}
.footer-text, .footer-text:hover, .footer-text:focus{
	color:#fff;
}
.f-content{
	padding:5px 0px;
}
.s-icon{
	font-size:20px;
	margin-right:10px;
}
.f-icon{
	font-size:30px;
	cursor:pointer;
}
.copy-section{
	text-align:center;
	color:#aaa;
}
@media only screen and (max-width:768px){
/*header section*/
	.site-header{
		background: linear-gradient(to bottom, #4776e6, #8e54e9);
	}	
	.site-header .navlink li a, .site-logo{
		color:#fff !important;
	}
	.site-header li{
		border-bottom: 1px solid rgba(168,168,168,0.3);
	}
	.register-btn{
		background:transparent;
	}
/*heading section*/	
	.site-heading h1{
		font-size:30px;
	}
	.site-heading p{
		font-size:14px;
	}
/*contact form*/
	.form-section{
		max-width:520px;
	}	
	.contact-form{
		padding: 20px 30px 20px;
	}
/*column left*/
	.col-left{
		padding:10px 20px 30px;
	}	
/*column right*/	
	.col-right{
		background-position: 57px 101px;
	}	
	.heading-logo{
		width: 40px;
		margin: -10px 0px;
	}
/*footer*/	
	.footer-container{
		padding:20px 30px;
	}
}
@media only screen and (max-width:480px){
	.site-logo{
		font-size:32px;
	}
	.site-header .navbar-toggle{
		border:none;
	}
	.site-heading h1{
		font-size:28px;
	}
	.form-heading{
		left: 40px;
		font-size: 22px;
		padding:0px 2px;
	}
	.contact-form{
		padding: 20px 0px 20px;
	}
	.send-btn{
		padding:5px 10px;
	}
	.col-right{
		background-position: 57px 101px;
		padding:0px 10px;
	}
	.col-heading{
		font-size:18px;
	}
}
