/*----------- Reset css start --------------*/
*{box-sizing: border-box;}
body, html{position:relative;}
body{position:relative;margin:0; padding:0; height:100%;font-size: 14px;color: #555;}
html{height:100%;}
ol, ul {list-style-type: none;}
ul{list-style:none;margin:0;padding:0;}
a:hover, a:focus, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, 
.btn:active:focus, .btn:focus{outline:none;text-decoration:none;}
a{text-decoration:none;}
/*----------- Reset css end --------------*/
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.eot');
    src: url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype'),
        url('../fonts/Gilroy-Medium.svg#Gilroy-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype'),
        url('../fonts/Gilroy-Bold.svg#Gilroy-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'black_ops_oneregular';
    src: url('../fonts/blackopsone-regular-webfont.eot');
    src: url('../fonts/blackopsone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/blackopsone-regular-webfont.woff2') format('woff2'),
         url('../fonts/blackopsone-regular-webfont.woff') format('woff'),
         url('../fonts/blackopsone-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
body{
	overflow-x:hidden;
	font-family: Gilroy;
}
/*navbar*/
.site-header{
	border-bottom:2px solid #ccc;
	padding:10px;
	transition: 1s;	
	-moz-transition: 1s;	
	-webkit-transition: 1s;	
	-ms-transition: 1s;	
	-o-transition: 1s;
	background: #fff;	
}
.site-logo, .footer-heading{
	font-size:40px;
	text-transform:uppercase;
	color:#4776e6;
	font-family: black_ops_oneregular;
	text-shadow: 1px 1px 2px rgba(142,84,233, 0.8);
}
.site-logo:hover, .site-logo:focus{
	color:#4776e6;
}
.navlink{
	margin-right:0px;
}
.site-header .navlink>li>a{
	color:black;
	padding:0px;
	font-size:16px;
	transition:0.6s;
	display:block;
}
.site-header .navlink>li>a:hover,
.site-header .navlink>li>a:active{
	font-weight:500;
	text-shadow: 1px 1px 2px rgba(0,0,0, 0.4);
}
.site-header .navlink>li{
	padding:15px 25px;
}
.site-header .navbar-toggle .icon-bar{
	background-color:#fff;
}
.site-header .navbar-toggle{
	border:1px solid #ddd;
}
.register-link, .shrink-link{
	color:#fff !important;
}
.register-btn{
	background: linear-gradient(to right, #4776e6, #8e54e9);
	border: transparent;
	padding: 12px 20px !important;
    margin:3px;
    cursor:pointer;
    border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
}
/*after shrink*/
.shrink{
	padding:5px 10px;
}
/*banner-section*/
.banner-section{
	text-align:center;
	padding:155px 0px 25px;
}
.heading{
	font-weight:bold;
}
.banner-section h1{
	font-size:42px;
}
.sub-heading{
	font-size:16px;
}
.start-button{
	background: linear-gradient(to right, #4776e6, #8e54e9);
	color:#fff;
	padding:10px 25px;
	margin:25px 0px 10px;
	border:2px solid transparent;
	border-radius:25px;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	-o-border-radius:25px;
	-ms-border-radius:25px;
}
.start-button:hover, .start-button:focus{
	border:2px solid #4776e6;
	color:#4776e6;
	background:transparent;
}
/*feature-section*/
.site-feature, .grid-section{
	margin:35px 0px;
	padding:50px 0px;
	background-color:#f3f3f3;
}
.site-feature-heading, 
.grid-section-heading{
	padding:0px 0px 30px;
	text-align:center;
}
.site-feature-heading h2 ,
.grid-section-heading h4{
	font-size:36px;
}
.col-indicator{
	bottom:-40px;
	color:#4776e6;
	width:100%;
	left:0;
	margin:0;
	text-align:center;
}
.col-indicator .active{
	background-color:#4776e6;
}
.col-indicator li{
	background-color:#ccc;
}
.col h3{
	display:inline-block;
	vertical-align:bottom;
	padding:0px 10px;
	text-transform:capitalize;
}
.col p, .col-content p{
	text-align:justify;
	padding-top:15px;
}
.site-icon{
	font-size:45px;
	color:#4776e6;
}
/*grid section*/
.grid-section{
	background:transparent;
	padding:30px 0px;
}
.grid-section-heading{
	text-align:center;
	text-transform:capitalize;
}
.grid-col{
	border:1px solid #ccc;
	display:inline-block;
	padding:20px 10px;
	margin:10px 0px;
	box-shadow:2px 2px 10px rgba(0,0,0,0.3);
	-moz-box-shadow:2px 2px 10px rgba(0,0,0,0.3);
	-webkit-box-shadow:2px 2px 10px rgba(0,0,0,0.3);
	-ms-box-shadow:2px 2px 10px rgba(0,0,0,0.3);
	-o-box-shadow:2px 2px 10px rgba(0,0,0,0.3);
	transition:0.8s;
}
.grid-col:hover{
	transform:scale(0.9);
}
.col-img{
	float:left;
	width:20%;
}
.col-img img{
	width:55px;
}
.col-content{
	float:left;
	width:80%;
}
.col-heading{
	font-size:22px;
	text-transform:capitalize;
}
.col-content p{
	padding:5px 5px 5px 0px;
}
/*footer section*/
.site-footer{
	background: linear-gradient(to bottom, #8e54e9, #4776e6);
	color:#fff;
	border-top:2px solid #ccc;
	padding:25px 0px 10px;
}
.footer-container{
	padding:20px 0px;
}
.footer-heading{
	color:#fff;
	font-size:28px;
	margin:-6px 0px;
}
.footer-content{
	text-align:justify;
	padding:10px 0px;
}
.f-heading{
	font-size:20px;
	font-weight:bold;
}
.footer-text, .footer-text:hover, .footer-text:focus{
	color:#fff;
}
.f-content{
	padding:5px 0px;
}
.s-icon{
	font-size:20px;
	margin-right:10px;
}
.f-icon{
	font-size:30px;
	cursor:pointer;
}
.copy-section{
	text-align:center;
	color:#aaa;
}
@media only screen and (max-width:768px){
/*header section*/
	.site-header{
		background: linear-gradient(to bottom, #4776e6, #8e54e9);
	}	
	.site-header .navlink li a, .site-logo{
		color:#fff !important;
	}
	.site-header li{
		border-bottom: 1px solid rgba(168,168,168,0.3);
	}
	.register-btn{
		background:transparent;
	}
/*heading section*/		
	.banner-section h1{
		font-size:40px;
	}
/*feature section*/
	.site-feature-heading h2,
	.grid-section-heading h4{
		font-size:30px;
	}
	.col-indicator, .col-right{
		text-align:center;
	}	
	.col-left img{
		width:520px;
		margin:auto;
	}
	.col-right{
		padding:20px;
	}
/*grid section*/
.col-img img{
	width:70px;
}	
/*footer*/	
	.footer-container{
		padding:20px 30px;
	}
}
@media only screen and (max-width:480px){
	.site-logo{
		font-size:32px;
	}
	.site-header .navbar-toggle{
		border:none;
	}
	.banner-section{
		padding:110px 20px 20px;
	}
	.banner-section h1{
		font-size:30px;
	}
	.sub-heading{
		font-size:14px;
	}
	.start-button{
		font-size:15px;
	}
	.site-feature-heading h2,
	.grid-section-heading h4{
		font-size:26px;
	}
	.col h3{
		font-size:22px;
	}
	.col-heading{
		font-size:20px;
	}
}
