/*----------- Reset css start --------------*/
*{box-sizing: border-box;}
body, html{position:relative;}
body{position:relative;margin:0; padding:0; height:100%;font-size: 14px;color: #555;}
html{height:100%;}
ul{list-style-type:none;margin:0;padding:0;}
a:hover, a:focus, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, 
.btn:active:focus, .btn:focus{outline:none;text-decoration:none;}
a{text-decoration:none;}
/*----------- Reset css end --------------*/
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.eot');
    src: url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype'),
        url('../fonts/Gilroy-Medium.svg#Gilroy-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype'),
        url('../fonts/Gilroy-Bold.svg#Gilroy-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'black_ops_oneregular';
    src: url('../fonts/blackopsone-regular-webfont.eot');
    src: url('../fonts/blackopsone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/blackopsone-regular-webfont.woff2') format('woff2'),
         url('../fonts/blackopsone-regular-webfont.woff') format('woff'),
         url('../fonts/blackopsone-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
body{
	overflow-x:hidden;
	font-family: Gilroy;
}
/*navbar*/
.site-header{
	padding:10px;
	background: #4776e6;
}
.site-logo{
	font-size:40px;
	text-transform:uppercase;
	color:#fff;
	font-family:black_ops_oneregular;
	text-shadow: 1px 1px 2px rgba(142,84,233, 0.8);
	-moz-text-shadow: 1px 1px 2px rgba(142,84,233, 0.8);
	-webkit-text-shadow: 1px 1px 2px rgba(142,84,233, 0.8);
	-ms-text-shadow: 1px 1px 2px rgba(142,84,233, 0.8);
	-o-text-shadow: 1px 1px 2px rgba(142,84,233, 0.8);
}
.site-logo:hover, .site-logo:focus{
	color:#fff;
}
/*Page content*/
.page-content{
	padding:30px 0px;
}
.site-heading, .start-btn{
	text-align:center;
}
.site-heading h1{
	font-weight:bold;
}
.content-section{
	position:relative;
	max-width:880px;
	width:100%;
	margin:40px auto;
	padding:0px 20px;
}
.content-heading{
    position: absolute;
    background: #fff;
    top: -32px;
    left: 60px;
    font-size: 25px;
    padding: 0 8px;
    z-index: 1;
}
.instruction-section{
    border: 1px solid ;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 40px 25px;
    z-index: 0;
    font-size:18px;
    word-spacing:3px;
    line-height:1.6;
    box-shadow:10px 0px 0px #4776e6;
    -webkit-box-shadow:10px 0px 0px #4776e6;
    -moz-box-shadow:10px 0px 0px #4776e6;
    -ms-box-shadow:10px 0px 0px #4776e6;
    -o-box-shadow:10px 0px 0px #4776e6;
}
.start{
	background: #4776e6;
	color:#fff;
	border:2px solid transparent;
	padding:10px 20px;
	font-weight:bold;
	margin:10px;
	font-size:16px;
}
.start:hover,.start:focus{
	border:2px solid #4776e6;
	color:#4776e6;
	background:transparent;
}
@media only screen and (max-width:768px){
	.site-header{
		padding:5px 10px;
	}
	.page-content{
		padding:0px;
	}
}
@media only screen and (max-width:480px){
	.site-logo{
		font-size:32px;
	}
	.site-heading h1{
		font-size:30px;
	}
	.content-section{
		padding:0px 10px;
	}
	.content-heading{
		font-size:25px;
	}
	.instruction-section{
		padding: 30px 5px;
		font-size:16px;
	}
}
