/*----------- Reset css start --------------*/
*{box-sizing: border-box;}
body, html{position:relative; height:100%;}
body{position:relative;margin:0; padding:0; height:100%;font-size: 14px;color: #555;}
html{height:100%;}
ol, ul {list-style-type: none;}
ul{list-style:none;margin:0;padding:0;}
table {border-collapse: collapse;border-spacing: 0;}
a:hover, a:focus, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, 
.btn:active:focus, .btn:focus{outline:none;text-decoration:none;}
a{text-decoration:none;}
/*----------- Reset css end --------------*/
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.eot');
    src: url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype'),
        url('../fonts/Gilroy-Medium.svg#Gilroy-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype'),
        url('../fonts/Gilroy-Bold.svg#Gilroy-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'black_ops_oneregular';
    src: url('../fonts/blackopsone-regular-webfont.eot');
    src: url('../fonts/blackopsone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/blackopsone-regular-webfont.woff2') format('woff2'),
         url('../fonts/blackopsone-regular-webfont.woff') format('woff'),
         url('../fonts/blackopsone-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
body{
	overflow-x:hidden;
	font-family: Gilroy;
}
/*navbar*/
.site-header{
	padding:10px;
}
.site-header{
	padding:10px;
	background: #4776e6;
}
.site-logo{
	font-size:40px;
	text-transform:uppercase;
	color:#fff;
	font-family:black_ops_oneregular;
	text-shadow: 1px 1px 2px rgba(142,84,233, 0.8);
	-moz-text-shadow: 1px 1px 2px rgba(142,84,233, 0.8);
	-webkit-text-shadow: 1px 1px 2px rgba(142,84,233, 0.8);
	-ms-text-shadow: 1px 1px 2px rgba(142,84,233, 0.8);
	-o-text-shadow: 1px 1px 2px rgba(142,84,233, 0.8);
}
.site-logo:hover, .site-logo:focus{
	color:#fff;
}
.navlink{
	margin-right:0px;
}
.site-header .navlink>li>a{
	color:#fff;
	padding:0px;
	font-size:16px;
	display:block;
}
.site-header .navlink>li>a:hover,
.site-header .navlink>li>a:active{
	font-weight:500;
	text-shadow: 1px 1px 2px rgba(0,0,0, 0.4);
}
.site-header .navlink>li{
	padding:15px 25px;
}
.site-header .navbar-toggle .icon-bar{
	background-color:#fff;
}
.site-header .navbar-toggle{
	border:1px solid #ddd;
}
/*page content*/
.site-heading{
	text-align:center;
	text-transform:capitalize;
}
.site-heading h1{
	font-weight:bold;
}
.heading-icon{
	width:60px;
	height:auto;
}
/*result section*/
.result-container{
	max-width: 660px;
    margin: 35px auto;
}
.result-table{
	border:1px solid #ddd;
}
.t-head{
	color:#fff;
	background-color:#4776e6;
	border:2px solid #4776e6;
}
.t-row:nth-child(odd) {
  background: rgba(71, 118, 230,0.2);
}
.t-row:nth-child(even) {
  background:rgba(71, 118, 230,0.3);
}
.t-row > td{
	border:1px solid #ccc;
}
.td-icon{
	width:30px;
	height:auto;
}
.t-row:hover{
	background-color:rgba(71, 118, 230,0.6);
	color:#fff;
}
.result-container .table>tbody>tr>td{
	vertical-align:middle;
}
.page-btn{
	text-align:center;
}
.detail-btn{
	background: #4776e6;
	color:#fff;
	border:2px solid transparent;
	padding:10px 20px;
	font-weight:bold;
	font-size:16px;
}
.detail-btn:hover,.detail-btn:focus{
	border:2px solid #4776e6;
	color:#4776e6;
	background:transparent;
}
@media only screen and (max-width:768px){
/*header section*/
	.site-header{
		padding:5px 10px;
	}
	.site-header li{
		border-bottom: 1px solid rgba(168,168,168,0.3);
	}
}
@media only screen and (max-width:480px){
	.site-logo{
		font-size:32px;
	}
	.site-header .navbar-toggle{
		border:none;
	}
	.site-heading h1{
		font-size:30px;
	}
}
