/*----------- Reset css start --------------*/
*{box-sizing: border-box;}
body, html{position:relative;}
body{position:relative;margin:0; padding:0; height:100%;font-size: 14px;color: #555;}
html{height:100%;}
ol, ul {list-style-type: none;}
ul{list-style:none;margin:0;padding:0;}
a:hover, a:focus, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, 
.btn:active:focus, .btn:focus{outline:none;text-decoration:none;}
a{text-decoration:none;}
/*----------- Reset css end --------------*/
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.eot');
    src: url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype'),
        url('../fonts/Gilroy-Medium.svg#Gilroy-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype'),
        url('../fonts/Gilroy-Bold.svg#Gilroy-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'black_ops_oneregular';
    src: url('../fonts/blackopsone-regular-webfont.eot');
    src: url('../fonts/blackopsone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/blackopsone-regular-webfont.woff2') format('woff2'),
         url('../fonts/blackopsone-regular-webfont.woff') format('woff'),
         url('../fonts/blackopsone-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
body{
	overflow-x:hidden;
	font-family: Gilroy;
}
/*navbar*/
.site-header{
	padding:10px;
}
.site-header{
	padding:10px;
	background: #4776e6;
}
.site-logo{
	font-size:40px;
	text-transform:uppercase;
	color:#fff;
	font-family:black_ops_oneregular;
	text-shadow: 1px 1px 2px rgba(142,84,233, 0.8);
	-moz-text-shadow: 1px 1px 2px rgba(142,84,233, 0.8);
	-webkit-text-shadow: 1px 1px 2px rgba(142,84,233, 0.8);
	-ms-text-shadow: 1px 1px 2px rgba(142,84,233, 0.8);
	-o-text-shadow: 1px 1px 2px rgba(142,84,233, 0.8);
}
.site-logo:hover, .site-logo:focus{
	color:#fff;
}
.navlink{
	margin-right:0px;
}
.site-header .navlink>li>a{
	color:#fff;
	padding:0px;
	font-size:16px;
	display:block;
}
.site-header .navlink>li>a:hover,
.site-header .navlink>li>a:active{
	font-weight:500;
	text-shadow: 1px 1px 2px rgba(0,0,0, 0.4);
}
.site-header .navlink>li{
	padding:15px 25px;
}
.site-header .navbar-toggle .icon-bar{
	background-color:#fff;
}
.site-header .navbar-toggle{
	border:1px solid #ddd;
}
/*Page content*/
.page-content{
	padding:30px 0px;
}
.site-heading{
	text-align:center;
	text-transform:capitalize;
}
.site-heading h1{
	font-weight:bold;
}
/* card section*/
.card-row{
    display: inline-block;
    width: 100%;
    margin:30px 0px;
}
.card-col{
    width: 25%;
    float: left; 
}
.card-container{
	padding:15px 20px;
}
.card {
    width: 100%;
    position:relative;
}
.card-input-element {
    display: none;
}
.card-input {
    border:1px solid #CCC;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
	box-shadow:2px 2px 10px rgba(0,0,0,0.3);
	-webkit-box-shadow:2px 2px 10px rgba(0,0,0,0.3);
	-moz-box-shadow:2px 2px 10px rgba(0,0,0,0.3);
	-o-box-shadow:2px 2px 10px rgba(0,0,0,0.3);
	-ms-box-shadow:2px 2px 10px rgba(0,0,0,0.3);
}
.card-input:hover{
    cursor: pointer;
    border:1px solid rgba(71,118,230,0.6);
}
.card-input-element:checked + .card-input::after {
     border-top: 50px solid rgba(71,118,230,0.9);
}
.card-input-element:checked + .card-input::before {
     border-top: 52px solid rgba(71,118,230,0.9);
}
.card-input-element:checked + .card-input{
     border: 1px solid #4776e6;
}
.card-input::after{
	position: absolute;
	top: 1px;
	right: 1px;
	content: "";
	width: 0;
	height: 0;
	border-top: 50px solid #FFF;
	border-left: 50px solid transparent;
	transition: all 200ms ease-out;
}
.card-input::before{
    position: absolute;
    top: 1px;
    right: 1px;
    content: "";
    width: 0;
    height: 0;
    border-top: 52px solid #CCC;
    border-left: 52px solid transparent;
    transition: all 200ms ease-out;
}
.image{
	width:110px;
	margin:auto;
	padding:20px;
}
.c-title{
	color:#fff;
	padding:1px;
	text-align:center;
	background: rgba(71,118,230,0.9);
	text-transform:uppercase;
}
.c-title h2{
	font-size:22px;
}
.page-btn{
	text-align:center;
}
.submit-btn{
	border:2px solid #4776e6;
	color:#4776e6;
	background:transparent;
	padding:10px 20px;
	font-weight:bold;
	font-size:16px;
}
.submit-btn:hover,.submit-btn:focus{
	background: #4776e6;
	color:#fff;
	border:2px solid transparent;
}
@media only screen and (max-width:768px){
/*header section*/
	.site-header{
		padding:5px 10px;
	}
	.site-header li{
		border-bottom: 1px solid rgba(168,168,168,0.3);
	}
	.card-col{
		width: 50%;
	}
}
@media only screen and (max-width:480px){
	.site-logo{
		font-size:32px;
	}
	.site-header .navbar-toggle{
		border:none;
	}
	.site-heading h1{
		font-size:30px;
	}
	.page-content{
		padding:0px;
	}
	.card-col{
		width: 100%;
	}	
}
